{% extends "core/titled_page.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}
	Tutorials
{% endblock header %}

{% block inner_content %}
	
	<div class="row">
		<div class="col-sm-12 text-justify">
			
			<h3>Websocket Tutorials</h3>
			<ul>
				<li>Traffic Light (<a href="{% url 'tutorials:traffic_light_1' %}">Part One</a>, <a href="{% url 'tutorials:traffic_light_2' %}">Part Two</a>)</li>
			</ul>
			<h3>Webhooks Tutorials</h3>
			<h3>REST Tutorials</h3>

		</div>
	</div>

{% endblock inner_content %}