Django==1.7.1
Fabric==1.8.1
argparse==1.2.1
cffi==0.8.6
cryptography==0.7.1
django-appconf==0.6
django-bootstrap3==5.1.1
django-braces==1.4.0
django-compressor==1.4
django-debug-toolbar==1.2.1
django-encrypted-fields==1.1.1
django-extensions==1.4.0
django-grappelli==2.6.1
django-redis==3.8.0
django-sslify==0.2.5
django-sslserver==0.14
djangorestframework==3.0.3
djrill==1.2.0
ecdsa==0.11
enum34==1.0.4
gevent==1.0.1
greenlet==0.4.5
grequests==0.2.0
gunicorn==18.0
jsonschema==2.4.0
paramiko==1.15.1
psycopg2==2.5.2
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
python-keyczar==0.71c
pytz==2014.4
redis==2.10.3
requests==2.5.1
six==1.9.0
sqlparse==0.1.14
wsgiref==0.1.2
