{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
	<div class="container">

	<div class="row">
		<div class="col-sm-12">
			 <div class="jumbotron">
                <h1>Universal Configuration, Built for Developers</h1>
                <p>Supremote is a simple and easy way to create, share, and manage remote configuration panels accessible from any web browser and your iOS device.</p>
                <p>
                	<a href="{% url 'core:signup' %}" class="btn btn-success btn-lg">
                	<i class="glyphicon glyphicon-check"></i> Sign Up</a>
                	<a href="https://itunes.apple.com/us/app/supremote/id964443915?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
                </p>
              </div>
		</div>
	</div>

		<div class="row">
			
			<div class="col-sm-6">

				<div class="row">
					<div class="col-sm-12">
						<h2>About</h2>

						<p>Supremote is a programmable, developer-friendly platform that allows you to configure anything, universally.</p>

						<p>It's very easy to integrate Supremote into your existing application. Configure anything from web servers,  personal computers, application servers, to live websites, and very soon, individual desktop application instances.</p>
					</div>
					
				</div>

				<div class="row">
					<div class="col-sm-6">
						<a href="{% url 'docs:index' %}" class="btn btn-info btn-block btn-lg">
						<i class="glyphicon glyphicon-book"></i> Docs</a>
					</div>
					<div class="col-sm-6">
						<a href="{% url 'tutorials:index' %}" class="btn btn-default btn-block btn-lg">
						<i class="glyphicon glyphicon-education"></i> Tutorials</a>
					</div>
				</div>
	

			</div>

			<div class="col-sm-6">
				<h2>Login</h2>
				<form action="" method="POST" novalidate>
					{% csrf_token %}
					{% bootstrap_form form %}
					<button class="btn btn-block btn-primary"><i class="glyphicon glyphicon-log-in"></i> Login</button>
				</form>

			</div>
		</div>
	</div>
{% endblock content %}