{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block extra_js %}
	<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		});
	</script>
{% endblock extra_js %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
					<div class="page-header">
						<h1>Remotes <a href="{% url 'core:remote_create' %}">
						<button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add Remote</button>
						</a>
						</h1>
					</div>
			</div>
		</div>

		{% for remote in remote_list %}
			<div class="row">
				<div class="col-sm-8 col-xs-6">
					<h4>{{ remote.name }}</h4>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="pull-right">
							<button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Configuration">
								<span class="pull-right glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
							<button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Manage Users">
								<span class="pull-right glyphicon glyphicon-user" aria-hidden="true"></span>
							</button>
							<button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
								<span class="pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}