body {
	padding-top: 70px;
}

#menu {
	margin-top: 30px;
}

.footer, .footer a  {
	color: #aaaaaa;
	font-size: 12px;
}

.footer a {
	margin-top: 10px;
}

.anchor {
	padding-top: 50px; margin-top: -50px;
}